*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: white;
    
}
.container{
    display: flex;
    flex-direction: row;
   background-color: rgba(187, 189, 191, 0.814);
}
.left{
    height: 650px;
    width: 40%;
    background-color: rgb(38, 51, 38) ;
   
}
.left img{
    height: 450px;
    margin-left: 25%;
    margin-top: 10%;

    

}
.left h2{
    color: white;
   font-size: 80px;
    position: absolute;
    top: 400px;
    left: 250px;
    font-family:Arial Narrow;

}
.right{
    
   
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;
}
.right h1{
  color: black;
    position: relative;
    margin-top: 230px;
    margin-left: 30%;
 
   
}
.bellow{
    width: 100%;
    background-color: #4d5a47;
    margin-top: 20%;
    padding: 10px;
    height: 80px;
   

}
.bellow p{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.middle{
    margin-top: 10px;
    height: 500px;
    background-color: rgb(38, 51, 38);
    position: relative;

}
.middle .me{
    height: 300px;
    width: 40%;
    padding-top: 200px;
    position: absolute;
   left: 20%;
   color: white;
}
.me p{
    padding-top: 50px;
}
.box{
    height: 500px;
    display: flex;
    margin-top: 10px;
}
.thard{
  width: 80%;
  background-color: rgba(187, 189, 191, 0.814);
  padding-left: 100px;
  padding-top: 100px;
  color: rgb(8, 2, 2);
}
.right-side{
    width: 20%;
    background-color:rgb(38, 51, 38) ;
}